<!DOCTYPE html>
<html>
  <head>
    <title>ReShelf</title>
    <% include lib.ejs %>
  </head>
  <body>

    <div style="height: 50px; display: block;"></div>
        <div class="container-fluid">
     

        <script src="js/jquery-1.12.3.js"></script>  

<script src="js/typed.js"></script>
<script>
  $(function(){
      $("#typing_text").typed({
        strings: ["Think | Eat | Save"],
        typeSpeed: 90
      });
  });
</script> 
<!-- <div class="col-lg-3" style="font-weight: bold;">
<div class="custom-bullet">
<h4>Currently in the Unites States, 46 million people use Federal food aid
programs. These programs generally roll out, what are called as food stamps
which are meant to temporarily he lp people with buying food and groceries. This
is done using the SNAP or Supplemental Nutrition Assistance Program. </h4>
</div>
</div>

          <div class="col-md-6 col-md-offset-5">
              <h4>In 2014, SNAP cost taxpayers USD 74 Billion. The problem is that almost
40% of the food produced in the United States never gets eaten. In America,
almost 165 Billion dollars of food gets wasted every year. If we can somehow
map that food the people living on Federal food aid and give it to them on a
highly discounted price (for example 20% of the cost), we can eliminate food
stamps and US Tax payer money can be saved. This is a typical win-win situation
for the taxpayers and the stores.
</h4>
          </div>
 -->    <div>
	<h4>Million Tons of Food Waste</h4> 
	</div>
       
        
           <iframe align="center" width="120%" height="700" src="//jsfiddle.net/vansh/uz35xqz2/2/embedded/result"  frameborder="0"></iframe>

 </div>

 

    <% include footer.ejs %>
    <% include js-lib.ejs %>
  </body>
</html>
