<div class="container-fluid" id="footer-wrapper">
	<div class="col-xs-12">
	
	<h4 style="color:black;">Do you know how much food is Thrown away every year? <a href="/waste-stats" style="font-weight: bold; text-decoration: underline;"><i> Check here...</i></a></h4>

	</div>
</div>