<!DOCTYPE html>
<html>
  <head>


    <title>Home | ReShelf</title>
    <% include lib.ejs %>
    <script type="text/javascript">
    $('.carousel').carousel();
    </script>
  </head>
  <body ng-app="amazon" ng-controller="amazon">
  	<% include menu.ejs %>
     <div style="height: 50px; display: block;"></div>

    <div id="main">
      
      <!-- <p id="typing_text1"> Re-Shelf</p> -->
      

    
    
    <!-- <div class="carousel slide carousel-fade" data-ride="carousel"> -->

    <!-- Wrapper for slides -->
<!--     <div class="carousel-inner" role="listbox">
        <div class="item active">
<div class="title">
  <h1 style="color:orange;">ReShelf</h1>
  <h3>Food is to eat, not to frame and hang on the wall.
</h3>
</div>
        

        
        </div>
        <div class="item">
        </div>
        <div class="item">

<div class="title">
  <h1 style="color:white;">ReShelf</h1>
  <h3>An Application to Remove FoodStamps</h3>
  <p id="typing_text">sasassa</p>
</div>      -->




<!-- Remeber to put all the content you want on top of the slider below the slider code -->


    <div class="container-fluid">
      <div class="col-xs-9">
        <% include search1.ejs %>

       <!-- <div class="col-xs-12">
<div class="row">
<div class="col-md-6 col-md-offset-5 " align="center;">
        <p><a href="#">Do you want to help?</a></p>
       </div></div></div>-->


       <div class="col-xs-12">
<div class="row">
<div class="col-md-6 col-md-offset-5 " align="center;">
        
        
        
        
       </div></div></div><br><br>


      <!-- <div class="col-xs-12">
        <div class="row">
        <div class="col-md-6 col-md-offset-5 " align="center;">
        <ul class="list-group">
  <li class="list-group-item"> 1. <a href="#" style="color:grey;">SafeWay</a></li>
  <li class="list-group-item">2. <a href="#" style="color:grey;">WallMart</a></li>
  <li class="list-group-item">3. <a href="#" style="color:grey;">Target</a></li>
  <li class="list-group-item">4. <a href="#" style="color:grey;">Costco</a></li>
  <li class="list-group-item">5. <a href="#" style="color:grey;">Wallmart</a></li>
</ul>
        
       </div></div></div>-->





        </div>

        <div class="col-xs-3">
        <!-- CART WILL BE HERE -->
        <% include cart.ejs %>
      </div>



       

      </div><br><br>
     

    
    </div>

<div class="col-lg-3"></div>
<div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading" >
                           <b> Stores </b>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Store Name</th>
                                            <th>Address</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                           
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Larry</td>
                                            <td>the Bird</td>
                                            
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>


    



    <% include footer.ejs %>
    <% include js-lib.ejs %>
  </body>
</html>
