<div class="alert-top-notify suc col-lg-12"></div>
<div class="container-fluid" id="menu-wrapper">
	<div class="row">
		<div class="col-xs-8">
			<ul id="ul-menu">
				<li>
					<div class="separator"></div>
					
				</li>
				<% if(typeof user == 'object') {%>


				<li>
					
					<a href="/" style="align-content: left; color:white; font-weight: bold; font-size: 20px;" >Home</a>
				</li>
				<li>
					<div class="separator" style="color: white;">|</div>
					
				</li>


				<li>
					<div class="dropdown">

						<a href="#" class="dropdown-toggle capitalize" data-toggle="dropdown" style="color:white;">Hi, <%= user.fname  %> <%= user.lname %> <span class="caret"></span></a>

						<ul class="dropdown-menu" style="color:white;">
							<li>
								<a href="/customerAccount" style="color:black;">Your Account</a>
							</li>
							
							<li>
								<a href="/logout" style="color:black;" >Sign Out</a>
							</li>
						</ul>
					</div>
				</li>
				<li>
					<div class="separator" style="color: white">|</div>
					<a href="/myorders" style="color:white;">Your Orders</a>
				</li>
				
				<% }else{ %>
				<ul id="ul-menu">

				<li>
					
					<a href="/" style="align-content: left; color:white; font-weight: bold; font-size: 20px;" >Home</a>
				</li>
				<li>

					<span style="color: white; text-align: right;">
					<div class="separator" style="color: white;" >|</div>
						
						<a href="/login" style=" font-weight: bold;font-size: 20px; text-decoration: underline; color: white; text-align: right;" >Sign in</a>            	</span>

				</li>
				</ul>
				<% } %>
			</ul>
		</div>
	</div>
</div>
